	<!-- Header -->

	<header class="header-wrapper">
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-2">
						<a href="./index" class="logo"><img src="asset/images/logo.png" alt="Logo Voyo One"></a>
					</div>
					<div class="col-sm-12 col-md-10">
						<nav class="navbar-right">
							<ul class="menu">
								<!-- Toggle Menu - For Mobile Devices -->
								<li class="toggle-menu">
									<span class="title">Menu</span>
									<span class="icon"><i></i><i></i><i></i></span>
								</li> <!-- END Toggle Menu -->
								<!-- Home -->
								<li class="first">
									<a href="#" data-hover="Home">Home</a>
									
								</li> <!-- END Home -->
								<!-- About -->
								<li>
									<a href="#" data-hover="About">About</a>
									
								</li> <!-- END About -->
								<!-- services -->
								<li>
									<a href="#" data-hover="Services">Services</a>
									<ul class="submenu">
										<li>
											<a href="#">Consulting services</a>
											
										</li>
										<li><a href="#">Application Services</a></li>
										<li><a href="#">Project Management Services</a></li>
										<li>
											<a href="#">Infrastructre Management Services</a>
											
										</li>
										
									</ul>
								</li> <!-- END Services -->
								<!-- Industries -->
								<li>
									<a href="#" data-hover="Industries">Industries</a>
									<ul class="submenu">
										<li>
											<a href="#">Banking</a>
											
										</li>
										<li>
											<a href="#">Retail</a>
											
										</li>
										<li>
											<a href="#">Utilities</a>
										</li>
										
									</ul>
								</li> <!-- END Industries -->
								<li>
									<a href="#" data-hover="Careers">Careers</a>
								</li>                                   
		                                                            
		                              
								<li>
									<a href="./contact" data-hover="Contact">Contact</a>
								</li>
								
							</ul>
						</nav>
					</div>
				</div>
			</div> <!-- END Container -->
		</div> <!-- END Main-Header -->
	</header> <!-- END Header -->
