{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Application Services</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Application Services</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	




<section class="section-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">


					<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<p>
Our Enterprise Application Services practice can assist your transformation initiatives through Enterprise Resource Planning, Supply Chain Management and Application Management Services.

					</p>

				</div>
			</div>



	<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Enterprise Business Integration</h4>
	    </div>
	    <div class="panel-body">
	       	<p>We offer implementation and managed integration services on all leading integration platforms and open source technologies. We collaborate with top vendors to deliver best-of-class technologies within robust, scalable solutions tailored for any industry and any customer.</p>
	    </div>
	</div>

	<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Enterprise Architecture</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Our Enterprise Architecture team can establish the structure, processes, and tools for improvements in technology governance, create the metrics needed to measure alignment of your IT landscape with your business goals, and help implement the strategic solutions that will propel your business forward.</p>
	    </div>
	</div>


	<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Testing Services</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Our testing practices include test automation, performance engineering, SOA testing, data-centric testing, package application testing, localization testing, mobility testing, test environment creation & management using virtualization in testing, certifications, and test consultancy.</p>
	    </div>
	</div>
	

					</div>
				</div>
			</div>
		</div>
	</section>		
		
		
		


			



	{% endblock %}


