{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}

<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Careers</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Careers</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	<section class="section-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-md-4">
					<aside class="sidebar-jobs">
						<ul class="jobs-list mb50">
							<li class="job-location">Amsterdam</li>
							<li><a href="#">Systems Engineer - Hardware</a></li>
							<li><a href="#">Software Tools Engineer - Capacity Services</a></li>
							<li><a href="#">Software Engineer - Web Applications / PHP + Drupal</a></li>
							<li class="job-location">San Francisco</li>
							<li><a href="#">Site Reliability Engineer (Platform Engineering)</a></li>
							<li><a href="#" class="active">Experience Designer, Consumer Product</a></li>
							<li><a href="#">Senior Software Engineer - Scala /Web Backend</a></li>
							<li><a href="#">Senior Product Manager, Commerce</a></li>
							<li class="job-location">Boston</li>
							<li><a href="#">Senior Linux Kernel Engineer - Core Runtime</a></li>
							<li><a href="#">Regional Sales Operations Manager</a></li>
							<li class="job-location">London</li>
							<li><a href="#">Product Marketing Manager, Mobile</a></li>
							<li><a href="#">Partner Development - Revenue Partner Developer</a></li>
							<li><a href="#">MySQL Database Administrator (MySQL, PostgreSQL, Vertica)</a></li>
							<li class="job-location">Dublin</li>
							<li><a href="#">Localization Project Manager, Consumer Products</a></li>
							<li><a href="#">Investor Relations Senior Manager</a></li>
						</ul>
					</aside>
				</div>
				<div class="col-sm-7 col-md-8 space-left">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="section-title-2">Experience Designer, Consumer Product</h2>
							<h3 class="box-title">Design &amp; UX Research &nbsp; - &nbsp; San Francisco, CA</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum eius illum iure suscipit distinctio, numquam perferendis. Optio debitis, omnis animi, aut ipsum unde veniam repellat tempora nemo aliquam in, nobis. Consequatur nam adipisci beatae maiores rem, numquam quaerat! Libero, maxime!</p>
							<p class="mt30 mb50"><i class="fa fa-info-circle main-color"></i> &nbsp; <i>This role is based in San Francisco, CA.</i> </p>
							<h3 class="box-title">What we are looking for</h3>
							<p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quo ea architecto nulla animi alias quaerat temporibus possimus id facere non pariatur, atque veniam iure tenetur aliquam quae unde cum?</p>
							<h3 class="box-title">Responsabilities</h3>
							<ul class="mb40">
								<li>Ratione odio laborum sunt illo, quisquam similique, veritatis consectetur voluptatum eum suscipit deleniti tempore incidunt et minima blanditiis.</li>
								<li>In obcaecati doloribus odio pariatur consectetur molestias ipsa.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit animi, nisi iste, sapiente voluptates commodi.</li>
								<li>Esse ea earum illum iusto doloremque ad minima unde nostrum autem labore, nisi asperiores lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
								<li>Quia amet deleniti dignissimos sequi velit vitae! Nulla optio ducimus ipsam velit dolorum insum.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur veritatis, dolor tempora.</li>
							</ul>
							<h3 class="box-title">Requirements</h3>
							<ul class="mb40">
								<li>Ratione odio laborum sunt illo, quisquam similique, veritatis consectetur voluptatum eum suscipit.</li>
								<li>In obcaecati doloribus odio pariatur consectetur molestias ipsa.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit animi, nisi iste, sapiente voluptates commodi.</li>
								<li>Esse ea earum illum iusto doloremque ad minima unde nostrum autem labore, nisi asperiores.</li>
								<li>Quia amet deleniti dignissimos sequi velit vitae! Nulla optio ducimus ipsam velit dolorum insum.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur veritatis, dolor tempora.</li>
							</ul>
							<h3 class="box-title">Desired <small>(not required)</small></h3>
							<ul class="mb40 unstyled">
								<li><i class="fa fa-check"></i> &nbsp; In obcaecati doloribus odio pariatur consectetur molestias ipsa.</li>
								<li><i class="fa fa-check"></i> &nbsp; Esse ea earum illum iusto doloremque ad minima unde nostrum autem labore, nisi asperiores.</li>
								<li><i class="fa fa-check"></i> &nbsp; Quia amet deleniti dignissimos sequi velit vitae! Nulla optio ducimus ipsam velit dolorum insum.</li>
								<li><i class="fa fa-check"></i> &nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur veritatis, dolor tempora.</li>
							</ul>
							<h3 class="box-title">Where To Apply</h3>
							<p>Send your resume to career@dyconsol.com</p>
						{#	<p class="mt40"><a href="#" class="btn voyo-btn-2 br2">Apply Now</a></p> #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> 

	{% endblock %}


	