{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Consulting Services</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Consulting Services</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	




<section class="section-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">


					<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<p>
Our Consulting Services can give you the business analyses your company need and follow through with implementation and post implementation support. As part of our services of integrated business, technology and process solutions, we can deliver a depth of resources that's unsurpassed by other consulting organizations.

					</p>

<p>
Dyconsol business analysts have industry experience in identifying and gather business needs and requirements, determine and prepare solution blue print in a wide range of information technology areas.  We use the information gathered for strategic planning, policy development, process improvement, organizational change and application development. 
</p>					
				</div>
			</div>


					</div>
				</div>
			</div>
		</div>
	</section>		
		
		
		


			



	{% endblock %}


