{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Copyright</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Copyright</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	




<section class="section-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">


					<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<p>
Dyconsol has a proven track record in providing services and solutions to the financial industry in the area of electronic banking. With our highly skilled subject matter expert consultants team, we deployed financial solutions at wide range of financial customers. We have deployed systems in complex environments and provided an economic, agile, and secure infrastructure for Enterprise Application Integration and Transaction Processing.
	</p>
<p>
	Our areas of expertise and experience in financial consulting services include:
					</p>


<p><i class="fa fa-check main-color"></i> &nbsp; Leverages existing technology and applications</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Centralized Electronic Bill Payment Solution</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Offline Transactions through e-Forms</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Online Transactions including Funds Transfer</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Back Office Cheque Processing Workflow</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Batch Funds Transfer</p>
				</div>
			</div>



	

					</div>
				</div>
			</div>
		</div>
	</section>		
		
		
		


			



	{% endblock %}


