{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Government</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Government</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	




<section class="section-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">


					<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<p>
Citizens across the world expect their governments to connect more closely with them and provide easy access to information and public services. This has led to the increasing adoption of e-Governance initiatives aimed at closer contact with citizens, simplifying the management of resources, boosting the quality of services, lowering costs, improving productivity and increasing transparency. We believe that our technology capabilities streamline Government processes and infrastructure. Our goal is to guide Governments towards smart IT choices to meet the expectations of their citizens.

	</p>
<p>

				</div>
			</div>



	

					</div>
				</div>
			</div>
		</div>
	</section>		
		
		
		


			



	{% endblock %}


