{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Mobile App Development</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Mobile App Development</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	




<section class="section-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">


					<div class="content">



	<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Mobile Application Development</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Dyconsol is a leading-edge mobile application development company.  We’ve accumulated great expertise in a wide range of vertical industries and business domains, including e-Learning, e-Commerce, and many others. This knowledge puts us in the position to anticipate project requirements and constraints, and suggest the optimal way to achieve the project’s objectives. <br><br>
Our mobile app developers are highly-skilled and well-versed in building apps for all the major platforms — be it iOS, Android, or Windows Phone:</p>
	    </div>
	</div>

	<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">iOS Application Development</h4>
	    </div>
	    <div class="panel-body">
	       	<p>iPad and iPhone devices have taken hold of the mobile computing market in a big way: user affinity is increasing and the number of apps in the Apple App Store is still growing at an impressive rate. iPhone and iPad users represent one of the largest segments of portable device users; iPad devotees dominate the tablet market. This is a great opportunity to engage your customers, get them involved, and make use of your employees’ mobile habits.
</p>
	    </div>
	</div>


	<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">iPad and iPhone Development </h4>
	    </div>
	    <div class="panel-body">
	       	<p>iPads and iPhones are all about style and artwork with their design-driven shapes and design-centric user experience. <br><br>
High quality of iPhone/iPad apps and uniformity of their function are guaranteed by a stringent app approval process and UI standardization.<br><br>
Apple devices have by far the most loyal users –who are advocates of both aesthetics and great functionality. <br><br>
The iOS development environment has commercial nature and nurtures strong iPhone developer community and dedicated iPad development environment</p>
	    </div>
	</div>


	<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Android Application Development</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Android has something to offer to all of us and gives us unprecedented personalization and choice. The platform represents diversity manifested in the number of OEMs that support Android and the number of platform updates within such a short period. Android is a leading OS for mobile devices and it is now confidently making its way into the tablet market. What will Android app development give to your business? A numerous community of Android users and great outreach for your business.
</p>
	    </div>
	</div>



<div class="row mb35">
<div class="col-sm-12">
<h2 id="jun" class="section-title-2">Android Development in the Spotlight</h2>
	       	<p></p>

</div>
</div>


<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Device fragmentation</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Our in-depth Android developer expertise will help you use the lion’s share of business opportunities offered by Android platform.
</p>
	    </div>
	</div>



<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Exceptional level of customization</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Android development is free from dogmas and overbearing standards. It gives carte blanche both to its users and Android app developers.
</p>
	    </div>
	</div>

<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Open-source</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Google has given Android app developers freedom to go to town on ideas and build mobile and tablet apps just in accordance with their view and feelings.
</p>
	    </div>
	</div>
	

<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Great support for content-consumption</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Android made its way in a bunch of content-oriented devices, designed specifically to promote content consumption.
</p>
	    </div>
	</div>	

<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">Windows Application Development</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Windows is now more than just the dominant force on the desktop market. First Microsoft put out feelers with its redesigned Windows Mobile platform and targeted consumers with the Metro UI in its first Windows Phone version. Now the company has entered the mobile space in a big way, totally reshaping its mobile strategy – Windows Phone 8 and the brand-new Windows 8 for tablets offer tons of exciting features under the hood.

</p>
	    </div>
	</div>	




	

					</div>
				</div>
			</div>
		</div>
	</section>		
		
		
		


			



	{% endblock %}


