{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Privacy Policy</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Privacy Policy</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	




<section class="section-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">


					<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<p>



<div class="row mb35">
<div class="col-sm-12">
<h2 id="jun" class="section-title-2">Privacy Statement</h2>
	       	<p>Even though this is the fine print, legal stuff, we want you to know that we value your privacy, and your trust. The following information discloses the practices we follow - including the information we'll gather and track - how it will be used and with whom it may be shared.<br><br>
On occasion, we may supplement this statement with additional information relating to a particular interaction we have with you.</p>

</div>
</div>


<div class="row mb35">
<div class="col-sm-12">
<h2 id="jun" class="section-title-2">Personal information that we collect</h2>
	       	<p>When you choose to give us your personal information, we'll use it to answer your request and only use it otherwise as you tell us we can. For example, you may choose to give us your name and contact information so that we can respond to your request for information, or to keep you posted on the most recent development in custom software design and engineering. You may also tell us about yourself when applying to join our amazing team. <br><br>
If you'd rather we didn't contact you outside of answering your request, we'll respect that. <br><br>
Because we want to be as effective as we can in providing you a great experience on our website, we may collect information about how our website is used and personalize your experience while visiting our site. To enable this, we may log information that your browser provides, such as your IP address, browser type, and referring website addresses. We may also log the pages you visit and the actions you take. Finally, we may determine if you've opened an e-mail or clicked on a link in an e-mail. <br><br>

Sometimes, we may also get information about you from other sources. If so, we'll do everything we can to make sure that the information was obtained legally and that we have the right to access and use it. <br><br>

To help us provide a better experience to you, we like to keep accurate records. This may be that we have to combine information that we've received from various sources to make sure that it is accurate and complete.</p>

</div>
</div>


<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">ANSWERING YOUR REQUEST</h4>
	    </div>
	    <div class="panel-body">
	       	<p>When you ask for information about us and our services, or want to let us know that you'd like to join our team, we'll use your personal information to answer you. <br><br>

To help answer your questions we may have to share your personal information with others, including our business partners and suppliers. <br><br>

We may also contact you as part of a customer satisfaction survey or for market research purposes.</p>
	    </div>
	</div>


<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">MAKING YOUR WEBSITE EXPERIENCE BETTER</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Our website may offer you a personalized experience based on the information we've collected. This is done to provide content that we think you'll be the most interested in, and that is easier to find.</p>
	    </div>
	</div>

<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">MARKETING</h4>
	    </div>
	    <div class="panel-body">
	       	<p>After you've had a chance to choose to let us do so, the information you provide and that we've collected may be used for marketing purposes. You may choose not to receive marketing materials from us by following unsubscribe instructions in e-mails, contacting us, or by telling us if we call you. <br><br>

If you sign up for information, a product, or a service provided by Dyconsol and a third party, your personal information may be collected by the third party, or we may share it with them for this purpose. The third party's privacy policies will apply to their collection and use of your personal information in that case.</p>
	    </div>
	</div>


<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">CAREERS </h4>
	    </div>
	    <div class="panel-body">
	       	<p>When you provide us your personal information, such as your resume in support of seeking employment with Dyconsol, we may use that information to consider you for employment purposes. We may retain that information for future consideration, unless you indicate otherwise.
			</p>
	    </div>
	</div>

<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">PROTECTING YOUR PERSONAL INFORMATION</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Dyconsol uses reasonable safeguards to help us protect your personal information. We use technical, administrative and physical safeguards to protect it from unauthorized access, use, and disclosure, and require our suppliers to do the same.
			</p>
	    </div>
	</div>

<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">RETAINING YOUR PERSONAL INFORMATION</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Dyconsol will retain your personal information to provide you with ongoing services. To request that we discontinue storing your information, please write us at info@Dyconsol.com. <br><br>

To comply with our legal obligations, resolve disputes, or otherwise enforce our agreements, we may need to retain some or all of your information.
			</p>
	    </div>
	</div>


<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">ONLINE ADVERTISING</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Dyconsol may work with other website operators and network advertisers to advertise our services. Please familiarize yourself with their privacy policies to understand their practices. Dyconsol does not share your personal information and information we collect about you with website operators and network advertisers.
			</p>
	    </div>
	</div>


<div class="panel panel-4">
	    <div class="panel-heading">
	        <h4 class="panel-title">LINKS TO NON-DYCONSOL WEBSITES AND THIRD-PARTY APPLICATIONS</h4>
	    </div>
	    <div class="panel-body">
	       	<p>Dyconsol may provide links to other websites, or embed third-party applications, to allow you to interact with them, including the ability to post content to them, or otherwise access them. Your use of these is subject to the third parties' privacy policies, which you should familiarize yourself with before using them. Dyconsol is not responsible for their privacy policies and their content.
			</p>
	    </div>
	</div>


<div class="row mb35">
<div class="col-sm-12">
<h2 id="jun" class="section-title-2">Changes to this policy</h2>
	       	<p>Dyconsol will notify you if we may use your personal information in a manner different than that stated when we collected it, and offer you the choice to let us use it in that way. <br><br>

Should Dyconsol update this policy in a material way, we'll make that clear on the top of this page for at least 30 days.</p>

</div>
</div>




	</p>





				</div>
			</div>



	

					</div>
				</div>
			</div>
		</div>
	</section>		
		
		
		


			



	{% endblock %}


