{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'top-border'}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Clients</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Technology</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->



	<section class="section">
		<div class="container">
			<div class="row mb30" id="cloud">
				<div class="col-sm-4 text-center xs-box">
					<img src="asset/images/icons/full-color/128px/weather.png" alt="careers">
				</div>
				<div class="col-sm-8">
					<div class="text-careers">
						<h3 class="box-title">Cloud</h3>
						<p>It is time to look at your organization holistically, and create a game plan for using cloud computing to your advantage. Cloud underpins mobility, analytics and social media, for starters. We  can help your organization to map its digital future in the cloud. </p>
					</div>
				</div>
			</div>
			<div class="row mb30" id="java">
				<div class="col-sm-4 text-center xs-box col-sm-push-8">
					<img src="asset/images/icons/full-color/128px/bookshelf.png" alt="careers">
				</div>
				<div class="col-sm-8 col-sm-pull-4">
					<div class="text-careers">
						<h3 class="box-title">Java</h3>
						<p>IT systems are the foundation for achieving high performance in today’s business environment - but they must be agile, cost-effective and able to use disruptive technology. DYCONSOL has the tested methodologies and frameworks to develop enterprise-scale Java based solutions that will help achieve these goals - speeding time to market and improving the quality, usability and agility of IT systems.</p>
					</div>
				</div>
			</div>

{# 			<div class="row" id="infrastructure_operation_transformation">
				<div class="col-sm-4 text-center xs-box">
					<img src="asset/images/icons/full-color/128px/gear.png" alt="careers">
				</div>
				<div class="col-sm-8">
					<div class="text-careers">
						<h3 class="box-title">Infrastructure Operation Transformation</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem modi facilis doloremque qui dicta, est, libero distinctio a explicabo adipisci, autem animi tempore excepturi numquam atque cum officia. Labore nisi minus odio quo vero, quaerat sit doloribus. Enim necessitatibus reprehenderit maiores inventore.</p>
					</div>
				</div>
			</div> #}
{# 			<div class="row mb30" id="it_strategies">
				<div class="col-sm-4 text-center xs-box col-sm-push-8">
					<img src="asset/images/icons/full-color/128px/tools.png" alt="careers">
				</div>
				<div class="col-sm-8 col-sm-pull-4">
					<div class="text-careers">
						<h3 class="box-title">IT Strategies</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem modi facilis doloremque qui dicta, est, libero distinctio a explicabo adipisci, autem animi tempore excepturi numquam atque cum officia. Labore nisi minus odio quo vero, quaerat sit doloribus. Enim necessitatibus reprehenderit maiores inventore.</p>
					</div>
				</div>
			</div> #}
			<div class="row" id="microsoft">
				<div class="col-sm-4 text-center xs-box">
					<img src="asset/images/icons/full-color/128px/java.png" alt="careers">
				</div>
				<div class="col-sm-8">
					<div class="text-careers">
						<h3 class="box-title">Microsoft</h3>
						<p>Microsoft development services cover the whole range of bespoke application development and data management skills alongside an ability to manage the complete project lifecycle. It includes Microsoft .Net and legacy framework skills; Cross-platform development experience and Comprehensive support and hosting options.</p>
					</div>
				</div>
			</div>
{# 			<div class="row mb30" id="microsoft">
				<div class="col-sm-4 text-center xs-box col-sm-push-8">
					<img src="asset/images/icons/full-color/128px/microsoft.png" alt="careers">
				</div>
				<div class="col-sm-8 col-sm-pull-4">
					<div class="text-careers">
						<h3 class="box-title">Microsoft</h3>
						<p>Microsoft development services cover the whole range of bespoke application development and data management skills alongside an ability to manage the complete project lifecycle. It includes Microsoft .Net and legacy framework skills; Cross-platform development experience and Comprehensive support and hosting options.</p>
					</div>
				</div>
			</div> #}

{# 			<div class="row" id="mobility">
				<div class="col-sm-4 text-center xs-box">
					<img src="asset/images/icons/full-color/128px/takeoff.png" alt="careers">
				</div>
				<div class="col-sm-8">
					<div class="text-careers">
						<h3 class="box-title">Mobility</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem modi facilis doloremque qui dicta, est, libero distinctio a explicabo adipisci, autem animi tempore excepturi numquam atque cum officia. Labore nisi minus odio quo vero, quaerat sit doloribus. Enim necessitatibus reprehenderit maiores inventore.</p>
					</div>
				</div>
			</div> #}
			<div class="row mb30" id="open_source">
				<div class="col-sm-4 text-center xs-box col-sm-push-8">
					<img src="asset/images/icons/full-color/128px/dev.png" alt="careers">
				</div>
				<div class="col-sm-8 col-sm-pull-4">
					<div class="text-careers">
						<h3 class="box-title">Open Source</h3>
						<p>In a business environment where cost and speed to market are both critical factors, open source software can play a key role in helping organizations develop the capabilities they need to achieve high performance quickly at reduced cost. We provide technology services to optimize and accelerate the use of open source based on wide-ranging business and industry knowledge and deep technology experience.</p>
					</div>
				</div>
			</div>
			<div class="row" id="oracle">
				<div class="col-sm-4 text-center xs-box">
					<img src="asset/images/icons/full-color/128px/oracle.jpg" width="128" height="128" alt="careers">
				</div>
				<div class="col-sm-8">
					<div class="text-careers">
						<h3 class="box-title">Oracle</h3>
						<p>High-performance businesses and governments look at their enterprise systems not as a commodity but as a way to help differentiate them from their competition. DYCONSOL helps organizations achieve high performance with Oracle solutions through an unmatched combination of industry and functional expertise; an unparalleled Oracle expertise and skilled professionals who deliver strategy, implementation, upgrade and application outsourcing solutions across the entire Oracle suite.</p>
					</div>
				</div>
			</div>
			<div class="row mb30" id="sap">
				<div class="col-sm-4 text-center xs-box col-sm-push-8">
					<img src="asset/images/icons/full-color/128px/sap.png" style="width:150px;height:128px;" alt="careers">
				</div>
				<div class="col-sm-8 col-sm-pull-4">
					<div class="text-careers">
						<h3 class="box-title">SAP</h3>
						<p>DYCONSOL combines deep industry knowledge, technical know-how and unsurpassed delivery capabilities to drive breakthrough results. We can help your business leverage SAP in areas such as analytics, cloud, and mobility, to deliver value and innovation.</p>
					</div>
				</div>
			</div>



		</div>
	</section>	



		
		


			


	{% endblock %}


