{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Utilities</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Utilities</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	




<section class="section-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">


					<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<p>
We have extensive knowledge of the Utility Marketplace and its continuous changing needs. Our consultants have an in-depth knowledge of the challenges that Utility organizations face and we provide solutions and services to our customers to ease the stress on management, online and offline customer service representatives and operations by providing quality services and products that introduce cost savings and brings efficiency to the organizations.
	</p>
<p>
Our areas of Expertise are:
</p>

<p><i class="fa fa-check main-color"></i> &nbsp; Bundle Discount</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Billing Summery</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Account Summery</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Services Summery</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Financial (Multi-Period Billing, Bill Simulation)</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Collection (Collection calls, Delinquency, Payment arrangement, Pending Disconnect Service Orders)</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Deposit (Collection, Applied, Reversal)</p>
<p><i class="fa fa-check main-color"></i> &nbsp; Electronic Work Queue</p>

				</div>
			</div>



	

					</div>
				</div>
			</div>
		</div>
	</section>		
		
		
		


			



	{% endblock %}


